node_modules
coverage
dist
docs_dist
compiled
bin

.dumi/tmp
.dumi/tmp-production
.eslintcache
.pnpm-debug.log
.nyc_output
.DS_Store
.awcache
.idea
.rpt2_cache
.dist
.cache
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.idea
*.log
*.tsbuildinfo



