@font-face {
  font-family: "chest_iconfont"; /* Project id 4206688 */
  src: url('iconfont.woff2?t=1702955459582') format('woff2'),
       url('iconfont.woff?t=1702955459582') format('woff'),
       url('iconfont.ttf?t=1702955459582') format('truetype');
}

.chest_iconfont {
  font-family: "chest_iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e60a";
}

.icon-mark:before {
  content: "\e62a";
}

.icon-arrowUp:before {
  content: "\e615";
}

.icon-arrowDown:before {
  content: "\e616";
}

.icon-gridView_12:before {
  content: "\e60c";
}

.icon-gridView_21:before {
  content: "\e60d";
}

.icon-list:before {
  content: "\e663";
}

.icon-gridview_33:before {
  content: "\e6b6";
}

.icon-circlePlus:before {
  content: "\e607";
}

.icon-circleMinus:before {
  content: "\e608";
}

.icon-drag:before {
  content: "\e6fe";
}

.icon-xiazai:before {
  content: "\e666";
}

.icon-shield:before {
  content: "\e606";
}

.icon-clock:before {
  content: "\e602";
}

.icon-shaixuan:before {
  content: "\e605";
}

.icon-right:before {
  content: "\e66b";
}

.icon-delete:before {
  content: "\e665";
}

.icon-longshortlength:before {
  content: "\e655";
}

.icon-wrench:before {
  content: "\e751";
}

.icon-warning:before {
  content: "\e674";
}

.icon-back:before {
  content: "\e622";
}

.icon-Up:before {
  content: "\e60f";
}

.icon-Down:before {
  content: "\e610";
}

.icon-copy:before {
  content: "\e64b";
}

.icon-jiantoushang:before {
  content: "\e603";
}

.icon-nopredict:before {
  content: "\e656";
}

.icon--jiantou1:before {
  content: "\e601";
}

.icon-target_reconstruction:before {
  content: "\e66f";
}

.icon-report:before {
  content: "\e659";
}

.icon-tip:before {
  content: "\e65a";
}

.icon-plus:before {
  content: "\e67b";
}

.icon-compare:before {
  content: "\e63e";
}

.icon-141:before {
  content: "\e650";
}

.icon-sort:before {
  content: "\e654";
}

.icon-histogram:before {
  content: "\e657";
}

.icon-similarCases:before {
  content: "\e658";
}

.icon-length:before {
  content: "\e647";
}

.icon-remove:before {
  content: "\e65c";
}

.icon-Combined:before {
  content: "\e604";
}

.icon-printing:before {
  content: "\e617";
}

.icon-filmLayout:before {
  content: "\e618";
}

.icon-push:before {
  content: "\e61c";
}

.icon-reduction:before {
  content: "\e669";
}

.icon-chineseGuide05:before {
  content: "\e690";
}

.icon-show:before {
  content: "\e6a8";
}

.icon-quadrilateral:before {
  content: "\e673";
}

